@model IEnumerable<CursoPresenca>
<!-- Title -->
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Data table</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="#"><span>table</span></a></li>
            <li class="active"><span>data-table</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">data Table</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="datable_1" class="table table-hover display pb-30">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                        <th>Empresa</th>
                                        <th>Imprimir Etiqueta</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                        <th>Empresa</th>
                                        <th>Imprimir Etiqueta</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var presente in Model)
                                    {
                                        <tr>
                                            <td>
                                                @presente.Nome
                                            </td>
                                            <td>
                                                @presente.CPF
                                            </td>
                                            <td>
                                                @presente.Empresa
                                            </td>
                                            <td class="text-center">
                                                <form>
                                                    <button class="btn btn-default" type="submit">
                                                        <i class="fa fa-print"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

@section css{
    <!-- Data table CSS -->
    <link href="../../vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
}

@section js {
    <!-- Data table JavaScript -->
    <script src="../../vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="dist/js/dataTables-data.js"></script>
}